* {
  padding: 0px;
  margin: 1px;
}

h1 {
  color: Red;
  font-size: 50px;
  padding: 10px;
}

h2 {
  color: yellow;
  text-decoration: underline;
  padding: 0px;
  font-size: 30px;
}

p {
    color: blue;
    text-align: left;
    padding: 15px;
    margin: 0px;
}

table {
    border: 1px solid blue;
}



.content p{
    color: blue;
    font-size: 25px;
    font-style: italic;
}

.header h1{
    font-weight: bold;
    font-family: Arial Black;
  }

  .header h2{
    font-weight: bold;
    font-family: Arial Black;
  }

  #footer
  #nav {
    border: 1px solid red;
  }
  #footer {color: red}
