* {
  padding: 0px;
  margin: 3px;
}

h1 {
  color: orange;
  font-size: 50px;
  padding: 10px;
}

h2 {
  color: yellow;
  text-decoration: underline;
  padding: 0px;
  font-size: 30px;
}

p {
    color: blue;
    text-align: left;
    padding: 15px;
    margin: 0px;
}

table {
    border: 1px solid blue;
}

.nav {
  text-align: center;

}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}

ul:hover {
  background-color: white;
}
a:visited{
  color: black;
}


.content p{
    color: blue;
    font-size: 25px;
    font-style: italic;
}

.header h1{
    font-weight: bold;
    font-family: Arial Black;
  }

  .header h2{
    font-weight: bold;
    font-family: Arial Black;
  }

  P::first-letter{
    color: white;
    font-size: xx-large;
  }

  div p.first {
    font-weight: 900;
  }
  div p.second {
    font-weight: 200;
  }
  div p.third {
    font-weight: 300;
  }

  div p.fourth {
    font-weight: 400;
  }

  div p.fifth {
    font-weight: 500;
  }

  div p.sixth {
    font-weight: 800;

    a[title]{color: yellow;}

    



  #footer
    #word2{

    }
  #footer {color: red}
