* {
  padding: 0px;
  margin: 0px;
}

h1 {
  color: Red;
  font-size: 50px;
  padding: 10px;
}

h2 {
  color: yellow;
  text-decoration: underline;
  padding: 10px;
  font-size: 30px;
}

p {
    color: blue;
    text-align: middle;
    padding: 10px;
    margin: 10px;
}

table {
    border: 1px solid blue;
}



.content p{
    color: blue;
    font-size: 20px;
    font-style: italic;
}

.header h1{
    font-weight: bold;
    font-family: Arial Black;
  }

  .header h2{
    font-weight: bold;
    font-family: Arial Black;
  }

  #firstid {color: red}
  #footer {color: red}
  #thirdId {color: red}
